body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

.login
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login label
{
   width: 30%;
   float: left;
}

.login input[type=text],input[type=password]
{
    width: 70%;
}


.login input[type=submit]
{
    width: 100%;
    height: 25px;
}

