@model IEnumerable<Bratwurst.Models.Photo>
@{
    ViewBag.Title = "Index";
}

<div id="main">
    <div id="reel">
        <!-- Header Item -->
        <div id="header" class="item" data-width="400">
            <div class="inner">
                <h1>Bratwurst website</h1>
                <p>
                    Website about our trip to Germany<br />
                </p>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <article class="item thumb" data-width="282">
                <h2>@item.caption</h2>
                <a href="@item.imageUrl" class="image"><img src="@item.imageUrl" alt="@item.tags"></a>
            </article>
        }

        <!--
        <article class="item thumb" data-width="384">
            <h2></h2>
            <a href="pic_05.jpg" class="image"><img src="pic_05.jpg" alt=""></a>
        </article>

        <article class="item thumb" data-width="274">
            <h2></h2>
            <a href="pic_03.jpg" class="image"><img src="pic_03.jpg" alt=""></a>
        </article>

        <article class="item thumb" data-width="282">
            <h2></h2>
            <a href="pic_07.jpg=" image"><img src="pic_07.jpg" alt=""></a>
        </article>

        <article class="item thumb" data-width="476">
            <h2></h2>
            <a href="pic_10.jpg" class="image"><img src="pic_10.jpg" alt=""></a>
        </article>

        <article class="item thumb" data-width="232">
            <h2></h2>
            <a href="pic_11.jpg" class="image"><img src="pic_11.jpg" alt=""></a>
        </article>

        <article class="item thumb" data-width="352">
            <h2></h2>
            <a href="pic_06.jpg" class="image"><img src="pic_06.jpg" alt=""></a>
        </article>

        <article class="item thumb" data-width="348">
            <h2></h2>
            <a href="pic_14.jpg" class="image"><img src="pic_14.jpg" alt=""></a>
        </article>

        <article class="item thumb" data-width="476"><h2></h2><a href="pic_02.jpg" class="image"><img src="pic_02.jpg" alt=""></a></article>
        <article class="item thumb" data-width="232"><h2></h2><a href="pic_01.jpg" class="image"><img src="pic_01.jpg" alt=""></a></article>
        <article class="item thumb" data-width="352"><h2></h2><a href="pic_04.jpg" class="image"><img src="pic_04.jpg" alt=""></a></article>
        <article class="item thumb" data-width="348"><h2></h2><a href="pic_09.jpg" class="image"><img src="pic_09.jpg" alt=""></a></article>
        <article class="item thumb" data-width="282"><h2></h2><a href="pic_08.jpg" class="image"><img src="pic_08.jpg" alt=""></a></article>
        <article class="item thumb" data-width="384"><h2></h2><a href="pic_15.jpg" class="image"><img src="pic_15.jpg" alt=""></a></article>
        <article class="item thumb" data-width="274"><h2></h2><a href="images/fulls/03.jpg" class="image"><img src="images/thumbs/03.jpg" alt=""></a></article>
        <article class="item thumb" data-width="282"><h2></h2><a href="images/fulls/04.jpg" class="image"><img src="images/thumbs/04.jpg" alt=""></a></article>-->
    </div>
</div>


