
@{
    ViewBag.Title = "Index";
}


<html>
<head>
    <title>Bratwurst website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <noscript><link rel="stylesheet" href="~/Content/noscript.css" /></noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>

    <div id="wrapper">
        <div id="main">
            <div id="reel">

                <!-- Header Item -->

                <div id="header" class="item" data-width="400">
                    <div class="inner">
                        <h1>Bratwurst website</h1>
                        <p>
                            Website about our trip to Germany<br />
                        </p>
                    </div>
                </div>



                <article class="item thumb" data-width="282">
                    <h2></h2>
                    <a href="pic_13.jpg" class="image"><img src="pic_13.jpg" alt=""></a>
                </article>

                <article class="item thumb" data-width="384">
                    <h2></h2>
                    <a href="pic_05.jpg" class="image"><img src="pic_05.jpg" alt=""></a>
                </article>

                <article class="item thumb" data-width="274">
                    <h2></h2>
                    <a href="pic_03.jpg" class="image"><img src="pic_03.jpg" alt=""></a>
                </article>

                <article class="item thumb" data-width="282">
                    <h2></h2>
                    <a href="pic_07.jpg=" image"><img src="pic_07.jpg" alt=""></a>
                </article>

                <article class="item thumb" data-width="476">
                    <h2></h2>
                    <a href="pic_10.jpg" class="image"><img src="pic_10.jpg" alt=""></a>
                </article>

                <article class="item thumb" data-width="232">
                    <h2></h2>
                    <a href="pic_11.jpg" class="image"><img src="pic_11.jpg" alt=""></a>
                </article>

                <article class="item thumb" data-width="352">
                    <h2></h2>
                    <a href="pic_06.jpg" class="image"><img src="pic_06.jpg" alt=""></a>
                </article>

                <article class="item thumb" data-width="348">
                    <h2></h2>
                    <a href="pic_14.jpg" class="image"><img src="pic_14.jpg" alt=""></a>
                </article>


                <article class="item thumb" data-width="476"><h2></h2><a href="pic_02.jpg" class="image"><img src="pic_02.jpg" alt=""></a></article>
                <article class="item thumb" data-width="232"><h2></h2><a href="pic_01.jpg" class="image"><img src="pic_01.jpg" alt=""></a></article>
                <article class="item thumb" data-width="352"><h2></h2><a href="pic_04.jpg" class="image"><img src="pic_04.jpg" alt=""></a></article>
                <article class="item thumb" data-width="348"><h2></h2><a href="pic_09.jpg" class="image"><img src="pic_09.jpg" alt=""></a></article>
                <article class="item thumb" data-width="282"><h2></h2><a href="pic_08.jpg" class="image"><img src="pic_08.jpg" alt=""></a></article>
                <article class="item thumb" data-width="384"><h2></h2><a href="pic_15.jpg" class="image"><img src="pic_15.jpg" alt=""></a></article>
                <article class="item thumb" data-width="274"><h2></h2><a href="images/fulls/03.jpg" class="image"><img src="images/thumbs/03.jpg" alt=""></a></article>
                <article class="item thumb" data-width="282"><h2></h2><a href="images/fulls/04.jpg" class="image"><img src="images/thumbs/04.jpg" alt=""></a></article>

            </div>
        </div>

        <div id="footer">
            <div class="left">
                <p>
                    This is <strong>Bratwurst website</strong>, a responsive website <a href="http://web1.klar1573.iba-abakomp.dk/ ">click here</a>. Free for personal<br />
                    and commercial use under the <a href="https://creativecommons.dk ">Creative Commons Attribution</a> license.
                </p>
            </div>
            <div class="right">
                <ul class="contact">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                    <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled</li>
                    <li>Design: <a href="http://web1.klar1573.iba-abakomp.dk/ ">Group 10</a></li>
                </ul>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/skel-viewport.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>
</html>


