
@{
    ViewBag.Title = "Login";
}

<div id="main">
    <!-- Header Item -->
    <div class="login">
        <h1>Login</h1>
        <form method="post">
            <fieldset>
                @if(ViewBag.WrongInput == true)
                {
                    <font color="red">You've enterred invalid information.</font>
                }
                <div>
                    <label for="email">Email:</label>
                    <input type="text" name="email" value="" />
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" value="" />
                </div>
                <div>
                    <br />
                    <input type="submit" value="Login" class="submit" />
                    <center>@Html.ActionLink("Homepage", "Index", "Home")</center>
                </div>
            </fieldset>
        </form>
    </div>
</div>